{{ define "base/header.html" }}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+MX:wght@100..400&display=swap"
      rel="stylesheet"
    />
    <title>Telcsifarmer: Nyomjuk!!</title>
  </head>
  <body>
    {{ end }}
  </body>
</html>
