{{ define "telcsik/new.html" }} {{ template "base/header.html" . }}

<h2>Get them telcsis</h2>

<form action="/telcsik" method="POST">
  <div>
    <label for="minprice">Min Price</label>
    <input
      type="number"
      name="minprice"
      id="minprice"
      min="1"
      max="1000000"
      value="20000"
      required
    />
  </div>
  <div>
    <label for="maxprice">Max Price</label>
    <input
      type="number"
      name="maxprice"
      id="maxprice"
      min="1"
      max="1000000"
      value="100000"
      required
    />
  </div>
  <br /><br />

  <div>
    <label for="first">#1:</label>
    <select
      class="order-selects"
      name="first"
      id="first"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="first_green"
      name="first_green"
      onchange="checkboxChecked()"
    />
    <label for="first_green">Important</label>
  </div>
  <br />
  <div>
    <label for="second">#2:</label>
    <select
      class="order-selects"
      name="second"
      id="second"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="second_green"
      name="second_green"
      onchange="checkboxChecked()"
    />
    <label for="second_green">Important</label>
  </div>
  <br />
  <div>
    <label for="third">#3:</label>
    <select
      class="order-selects"
      name="third"
      id="third"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="third_green"
      name="third_green"
      onchange="checkboxChecked()"
    />
    <label for="third_green">Important</label>
  </div>
  <br />
  <div>
    <label for="fourth">#4:</label>
    <select
      class="order-selects"
      name="fourth"
      id="fourth"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="fourth_green"
      name="fourth_green"
      onchange="checkboxChecked()"
    />
    <label for="fourth_green">Important</label>
  </div>
  <br />
  <div>
    <label for="fifth">#5:</label>
    <select
      class="order-selects"
      name="fifth"
      id="fifth"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="fifth_green"
      name="fifth_green"
      onchange="checkboxChecked()"
    />
    <label for="fifth_green">Important</label>
  </div>
  <br />
  <div>
    <label for="sixth">#6:</label>
    <select
      class="order-selects"
      name="sixth"
      id="sixth"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="sixth_green"
      name="sixth_green"
      onchange="checkboxChecked()"
    />
    <label for="sixth_green">Important</label>
  </div>
  <br />
  <div>
    <label for="seventh">#7:</label>
    <select
      class="order-selects"
      name="seventh"
      id="seventh"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="seventh_green"
      name="seventh_green"
      onchange="checkboxChecked()"
    />
    <label for="seventh_green">Important</label>
  </div>
  <br />
  <div>
    <label for="eighth">#8:</label>
    <select
      class="order-selects"
      name="eighth"
      id="eighth"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="eighth_green"
      name="eighth_green"
      onchange="checkboxChecked()"
    />
    <label for="eighth_green">Important</label>
  </div>
  <br />
  <div>
    <label for="ninth">#9:</label>
    <select
      class="order-selects"
      name="ninth"
      id="ninth"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="ninth_green"
      name="ninth_green"
      onchange="checkboxChecked()"
    />
    <label for="ninth_green">Important</label>
  </div>
  <br />
  <div>
    <label for="tenth">#10:</label>
    <select
      class="order-selects"
      name="tenth"
      id="tenth"
      onchange="orderChange()"
      value="none"
    >
      <option value="none">None</option>
      <option value="flip">Flip</option>
      <option value="fold">Fold</option>
      <option value="samsung">Samsung</option>
      <option value="sony">Sony</option>
      <option value="oneplus">OnePlus</option>
      <option value="pixel">Pixel</option>
      <option value="honor">Honor</option>
      <option value="nothing">Nothing</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
    </select>
    <input
      class="important-checks"
      type="checkbox"
      id="tenth_green"
      name="tenth_green"
      onchange="checkboxChecked()"
    />
    <label for="tenth_green">Important</label>
  </div>
  <br />

  <br /><br />

  <button type="submit" class="btn btn-primary">Save</button>
</form>

{{ template "base/footer.html" . }} {{ end }}
